<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Noticias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Portada</ion-title>
    </ion-toolbar>
  </ion-header>
  <br />
  <div class="container">
    <ion-list lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let noticia of noticias">
            <ion-card [routerLink]="['/lidom/noticia/' + noticia.id]">
              <img
                alt="Imagen Lidom"
                src="{{noticia.imagen}}"
              />
              <ion-card-header>
                <ion-card-title>{{noticia.titulo}}</ion-card-title>
                <ion-card-subtitle>noticia.subtitulo</ion-card-subtitle>
              </ion-card-header>
    
              <!-- <ion-card-content></ion-card-content> -->
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        
      </ion-item>
    </ion-list>
  </div>

  <app-explore-container name="Lidom - Noticias"></app-explore-container>
</ion-content>
